language: php

php:
  - 7.0
  - hhvm
 
matrix:
    allow_failures:
        - php: 7.0
        - php: hhvm

before_install:
  - sudo add-apt-repository -y ppa:moti-p/cc
  - sudo apt-get update
  - sudo apt-get -y --reinstall install imagemagick
  - printf "\n" | pecl install imagick-beta
  - if [[ ${TRAVIS_PHP_VERSION:0:3} == "5.4" ]]; then echo "extension = imagick.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit
