<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
		 colors="true"
		 processIsolation="false"
		 stopOnFailure="false">

	<testsuites>
		<testsuite name="Package Test Suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<exclude>
			<directory>./vendor</directory>
			<directory>./tests</directory>
		</exclude>
	</source>

	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<exclude>
			<directory>./vendor</directory>
			<directory>./tests</directory>
		</exclude>
	</coverage>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
